*{
    
    margin: 0;
    padding: 0;
    
}

.a{
    border: 1px solid black;
    display: flex;
   /* gap: 390px; */
   justify-content: space-around;
   align-items: center;

}
.aaa{
    width: 200px;
    height: 300px;
    border: 1px solid #000;
    background-color: red;
    
    
}

